<?xml version="1.0"?>
<configuration>
  <system.web>

  </system.web>

  <connectionStrings>
    <clear/>
    <add name="Harry"
         connectionString="Provider=microsoft.ACE.OLEDB.12.0; 
         Data Source=|DataDirectory|Web-Applicatie Database.accdb"
         providerName="System.Data.Oledb"/>
  </connectionStrings>
</configuration>
